
    <h1>About Us</h1>
    <p>
      Grouse is a sample application, 
      built via a Ruby on Rails screencast.
      If you are bored waste some time on 
      <a href="http://www.reddit.com">Reddit</a>
    </p>
